.App {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.map-container {
  flex: 1;
}

.add-client-container {
  width: 300px;
  margin-left: 20px;
}

.add-client-container h2 {
  margin-bottom: 10px;
}

.add-client-container input {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

.add-client-container button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
}
